<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameotomygames.SliderFloor"
    android:versionCode="1"
    android:versionName="0.1.0">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />
    
    <application
        android:name=".MainApplication"
        android:theme="@style/Theme.AppCompat">
        
        <!-- Google Ads Meta Data -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9584256452772726~5605740031"/>
        
        <!-- Permissions (if needed) -->
        <uses-permission android:name="android.permission.INTERNET" />
        
    </application>
</manifest>
